<main class="relative w-full h-full max-h-full flex-grow flex-col pb-12 gap-6 overflow-hidden">
  <div class="relative flex flex-col w-full h-full grow card">
    <!-- Title -->
    <div class="h-auto flex pt-4 md:pt-2 pb-4 md:py-0 md:pb-9 items-center justify-center">
      <p class="text-4xl md:text-6xl font-bold text-stoke-blue text-center">
        Change Password
      </p>
    </div>

    <!-- Form -->
    <form id="signup-form" (submit)="change($event)"
      class="relative text-xl w-full mx-auto h-full overflow-hidden gap-4 justify-center items-center flex flex-col">
      <div class="w-full px-6 pt-2 md:flex justify-center items-center">
        <p class="w-32" style="padding-right: 1rem; "><b>Old Password</b></p>
        <div class="relative w-full max-w-[30rem] h-12">
          <input name="oldPassword" #oldPassword required class="w-full h-full input text-black" maxlength="32" type="password"
            placeholder="Old Password :" />
          <!-- eye -->
          <fa-icon [icon]="eye1" class="cursor-pointer text-black absolute pt-1 right-3 top-1/2 -translate-y-1/2"
            (click)="togglePasswordVisibility(oldPassword, 1)" />
        </div>
      </div>
      <div class="relative w-full px-6 pt-2 md:flex justify-center items-center">
        <p class="md:w-32 text-wrap font-bold" style="padding-right: 1rem; word-wrap: break-word;">New Password</p>
        <div class="relative w-full max-w-[30rem] h-12">
          <input name="newPassword" #newPassword required class="w-full h-full input text-black" maxlength="32" type="password"
            placeholder="New Password :" />
          <!-- eye -->
          <fa-icon [icon]="eye2" class="cursor-pointer text-black absolute pt-1 right-3 top-1/2 -translate-y-1/2"
            (click)="togglePasswordVisibility(newPassword, 2)" />
        </div>
      </div>
      <div class="relative w-full px-6 pt-2 md:flex justify-center items-center">
        <p class="md:w-32 text-wrap font-bold" style="padding-right: 1rem; word-wrap: break-word;">Confirm Password</p>
        <div class="relative w-full max-w-[30rem] h-12">
          <input name="confirmPassword" #confirmPassword required class="w-full h-full input text-black" maxlength="32"
            type="password" placeholder="Confirm Password :" />
          <!-- eye -->
          <fa-icon [icon]="eye3" class="cursor-pointer text-black absolute pt-1 right-3 top-1/2 -translate-y-1/2"
            (click)="togglePasswordVisibility(confirmPassword, 3)" />
        </div>
      </div>

      <button type="submit"
        class="select-none text-stoke-blue w-full max-w-48 lg:max-w-96 h-16 p-4 button font-bold text-center disabled:!bg-slate-500"
        [disabled]="isChanging">
        Change Password
      </button>
    </form>
  </div>
</main>
