<main class="relative w-full h-full max-h-full flex-grow flex-col pb-12 gap-6">
    <div class="relative flex flex-col w-full h-full grow">
        <!-- Profile -->
        <div class="h-auto pl-10 flex pt-4 md:pt-2 md:py-0 md:pb-9 ">
            <div>
                <img style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover;"
                    [src]="user.image" alt="">
            </div>
            <div class="pl-5" style="display: flex; align-items: end;">
                <p class="text-2xl md:text-4xl font-bold text-stoke-red ">{{ user.username }}</p>
            </div>
        </div>

        <div class="flex" style="display: flex; justify-content: space-between;">
            <!-- Title -->
            <div  class="font-bold text-2xl w-1/2">
                <p>{{ user.note
                    || "note" }}
                </p>
            </div>
            <!-- Post img -->
            <div class="w-full">
                <div style="display: flex; justify-content: end;">
                    <button class="font-bold"
                        style=" display: inline-block; border: 2px solid white; font-size: 24px; width: 150px; height: 60px; background-color:#436AF6; border-radius: 5px">+
                        Add
                        New</button>
                </div>
                <div class="flex gap-12 flex-col">
                    <ng-container *ngFor="let item of user.images; let i = index">
                        <div class="overflow-hidden pr-[200px] pb-10">
                            <div style="width: 100%; height: 700px; background-color:#12182C">
                                <div class="flex">
                                    <div class="pt-1 pl-3">
                                        <img style="border-radius: 50%; width: 80px; height: 80px; object-fit: cover;"
                                            [src]="user.image" alt="">
                                    </div>
                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div class="w-full pl-2 pt-5 flex-col font-bold flex gap-0">
                                            <p style="margin: 0;">12:12 </p>
                                            <p style="margin: 0;">10 / 3 / 2567</p>
                                        </div>
                                        <div class="flex pr-5 pt-5 space-x-2">
                                            <fa-icon [icon]="faTrophy" class="text-4xl text-yellow-500"></fa-icon>
                                            <p class="text-xl pt-2 font-bold">{{item.today_rank}}</p>
                                            <div class="flex space-x-2" *ngIf="item.today_rank !== item.yesterday_rank && item.yesterday_score !== null">
                                                <p *ngIf="item.today_rank > item.yesterday_rank" class="pt-2 font-bold " style="color:#00FF00;">^{{item.today_rank-item.yesterday_rank}}</p>
                                                <p *ngIf="item.today_rank < item.yesterday_rank" class="pt-2 font-bold " style="color:#FF0000;">v{{Math.abs(item.today_rank-item.yesterday_rank)}}</p>
                                            </div>
                                            <fa-icon [icon]="faHeart" class="text-4xl text-red-500"></fa-icon>
                                            <p class="text-xl pt-2 font-bold">{{item.today_score}}</p>
                                            <div class="flex space-x-2" *ngIf="item.today_score != item.yesterday_score && item.yesterday_score !== null">
                                                <p *ngIf="item.today_score > item.yesterday_score" class="pt-2 font-bold " style="color:#00FF00;">^{{(item.today_score-item.yesterday_score).toFixed(2)}}</p>
                                                <p *ngIf="item.today_score < item.yesterday_score" class="pt-2 font-bold " style="color:#FF0000;">v{{Math.abs(item.today_score-item.yesterday_score).toFixed(2)}}</p>
                                            </div>
                                            <button class="pb-5" (mouseenter)="openMenu(i)" (mouseleave)="closeMenu(i)">
                                                <fa-icon [icon]="faEllipsisVertical" class="text-3xl pl-2"></fa-icon>
                                            </button>

                                            <!-- <div class="minimal-menu" [ngClass]="{ 'active': item.isMenuOpen }"
                                                (mouseenter)="openMenu(i)" (mouseleave)="closeMenu(i)">
                                                <ul class="text-center">
                                                    <li>Edit</li>
                                                    <li>Delete</li>
                                                    <li>Report</li>
                                                </ul>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="text-2xl pl-4 pt-5 flex font-bold">
                                    <p class="pr-2">Song Jin Woo</p>
                                    <p style="color: #F64363;">(Solo Leveling)</p>
                                </div>
                                <p class="pl-4" style="font-size: 18px; ">Lorem ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit. Dolorum iure minima
                                    velit laudantium deleniti unde magnam quis natus porro quas? Alias dicta, velit
                                </p>
                                <div class="w-full h-auto bg-white">
                                    <!-- <img style="width: 670px; height: 450px; object-fit: cover;" -->
                                    <img style="width: 100%; height: 100%; object-fit: cover;"
                                    [src]="item.imageURL"
                                        alt="">
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</main>
