.text-stoke-red {
  text-shadow: 5px 5px 0 #f64363, 1.1px -1.1px 0 #f64363, -1.1px 1.1px 0 #f64363,
    1.1px 1.1px 0 #f64363;
}

.card {
  // width: 1050px;
  // height: 680px;
  //   background-color: #f64363;
  background-color: rgba(246, 67, 99, 0.3);
  border-radius: 5px;
  border: 3px solid #f64363; /* Added border color */
  box-shadow: 0 4px 8px #f64363;
}

.img {
    border-radius: 4px;
    border: 2px solid #436af6;
    // width: 356px;
    // height: 356px;
    box-shadow: 0 4px 8px #000000;
}

.input {
  border-radius: 15px;
  border: 3px solid #f64363; /* Added border color */
  // width: 350px;
  height: 55px;
  color: #000;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 16px;
}
.button {
    width: 330px;
    height: 60px;
    background-color: #f64363;
    font-size: 32px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px #000000;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
