<body>
  <div class="w-full h-full flex items-center justify-center">
      <!-- <p class="w-full text-5xl font-bold text-stoke-blue text-center">
      Change Password
  </p> -->
  <div class="w-full h-full flex flex-col text-center" style="background-color: #070C22;">
      <img style="width: 395px; height: 285px; object-fit: cover;"
          src="https://hips.hearstapps.com/hmg-prod/images/jujutsu-kaisen-season-2-64a6dff90b3e8.png?crop=0.566xw:1.00xh;0,0&resize=1200:*"
          alt="">
      <div class="h-full flex flex-col justify-between">
          <div class="flex text-4xl">
              <div class="w-full flex flex-col items-start justify-start pl-14 font-bold">
                  <a routerLink="/admin/dashboard" class="hov pt-5 text-4xl flex">
                      <fa-icon class="pr-6" [icon]="faChartColumn" />
                      Dashboard
                  </a>
                  <a routerLink="/admin/user" class="hov pt-5 text-4xl flex ">
                      <fa-icon class="pr-6" [icon]="faUser" />
                      Users
                  </a>
                  <a routerLink="/admin/ranks" class="hov pt-5 text-4xl flex ">
                      <fa-icon class="pr-6" [icon]="faMedal" />
                      Ranks
                  </a>
                  <a routerLink="/admin/report" class="text-red-500 pt-5 text-4xl flex ">
                      <fa-icon class="pr-6" [icon]="faFileContract" />
                      Report
                  </a>
              </div>
          </div>
          <div class="pb-10 w-full flex flex-col items-start justify-start pl-14 font-bold">
              <a routerL="#"  class="hov pt-5 text-4xl flex ">
                  <fa-icon class="pr-6" [icon]="faRightFromBracket" />
                  Logout
              </a>
          </div>
      </div>
  </div>
      <div style="background-color: rgb(18, 24, 44, 0.8);" class="w-full h-full p-10">
          <div class="w-full" style="width: 1500px;">
              <div style="font-weight: bold; font-size: 32px;" class="flex justify-between items-end pb-10">
                  <div>
                      <h1>Reporter : MaouStan</h1>
                      <h1>Title : Pae love Hentai Image</h1>
                  </div>
                  <div class="flex pr-20">
                      <a routerLink="/admin/report" class="text-yellow-200 hover:!text-yellow-400 pr-5"><fa-icon class="pr-1" [icon]="faRightFromBracket" />ignore</a>
                      <a routerLink="/admin/report" class="hov pr-5"><fa-icon class="pr-1" [icon]="faTrashCan" />Delete</a>
                  </div>
              </div>
              <div class="flex pl-40">
                  <div class="relative pr-2 w-[21rem] md:w-96 h-[32.5rem] lg:h-[25rem]" style="width: 300px;">
                      <div
                          class='w-full h-full  overflow-hidden bg-white/50 rounded-xl border-[#f64363] border-2 self-center '>
                          <div class="w-full h-16 bg-white/50 flex justify-start items-center p-2 space-x-2">
                              <div class="size-12 bg-white rounded-full"></div>
                              <p [class]="'text-xl text-[#f64363] text-stroke-white'">MaouStan</p>
                          </div>

                          <!-- image -->
                          <div class="w-full h-full bg-white">
                              <img style="width: 346px; height: 456px;"
                                  src="https://i.pinimg.com/originals/10/c2/c2/10c2c227f83c695cd4c08981e85a540b.jpg"
                                  alt="">
                          </div>

                          <!-- name -->
                          <div
                              class="hidden lg:flex absolute max-w-full overflow-hidden -bottom-24 left-1/2 -translate-x-1/2 mx-auto w-fit px-12 py-4 text-2xl justify-center text-center items-center h-fit bg-[#f64363] rounded-tl-full rounded-br-full">
                              <p class="text-ellipsis line-clamp-1 text-left">MaouStansssssssssssssssssss</p>
                          </div>
                      </div>
                  </div>

                  <div style="width: 900px;" class="pl-5">
                      <p>
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus distinctio iure
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus distinctio iure
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus distinctio iure
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus distinctio iure
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus distinctio iure
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus distinctio iure
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus distinctio iure
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus distinctio iure
                          incidunt error odit harum reiciendis debitis excepturi consequuntur, cupiditate fuga
                          eius nam exercitationem voluptas voluptate unde! Hic, est necessitatibus! Lorem ipsum dolor
                          sit amet, consectetur adipisicing elit. Nesciunt a sequi in velit, dolorem sed provident
                          dolorum asperiores id accusantium consectetur neque molestias? Numquam voluptatibus ipsam
                          excepturi corrupti veniam amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Reiciendis fugiat vero aspernatur et ullam eligendi dolorem sequi fuga rem unde quis non,
                          deserunt dicta delectus alias. Consequuntur eum placeat qui aut laborum delectus id
                          laudantium quo. Tenetur ullam quis, odio, ab aliquid illo sed voluptatem tempore molestiae
                          eveniet eligendi illum minus iure, aspernatur similique harum accusantium excepturi officiis
                          unde facere nostrum dicta deserunt assumenda repellendus? Aperiam dolore cupiditate
                          reiciendis qui totam nemo vero dolorem rerum architecto, eaque doloremque repellendus libero
                          quis voluptatibus quaerat similique incidunt esse! Et non facere, debitis porro neque magnam
                          numquam laborum labore odio perspiciatis facilis veritatis ratione esse dolor obcaecati? Et
                          ex eveniet asperiores numquam mollitia pariatur animi in delectus amet? Dolorem placeat,
                          distinctio dolor, numquam optio quas dolore voluptatibus suscipit mollitia, sed itaque
                          labore nobis! Fugiat commodi harum optio possimus assumenda accusantium aliquam iusto?
                          Pariatur, veritatis voluptas aperiam, recusandae quos voluptates ea quasi odio, ut officia
                          rerum repudiandae cum dicta aliquid beatae impedit. Necessitatibus et molestias molestiae
                          harum dignissimos numquam, sunt odio, labore maiores nam temporibus impedit? Praesentium
                          maxime expedita earum laudantium assumenda, dolor dolorum eligendi, atque dolores eveniet,
                          nesciunt sapiente distinctio tempora quos nobis suscipit voluptate eaque asperiores fuga
                          voluptates consequuntur modi fugit ratione nam. Doloribus unde corporis consequuntur dolores
                          repudiandae provident neque autem, debitis omnis facilis fugiat delectus est. In sint
                          repellendus ipsa impedit dignissimos nam illo optio facere, aut natus doloribus quae
                          reprehenderit! Dolores ducimus autem, sunt ipsa maiores obcaecati rerum exercitationem
                          doloribus eveniet sint est ratione tenetur iusto aut asperiores ab natus molestias dicta
                          quasi. Dignissimos ad nam tempora, porro ipsum voluptatem quis. Reiciendis placeat aliquid
                          quia deleniti nisi repudiandae nihil illum cum neque alias. Officiis maiores aspernatur
                          similique maxime, ratione laudantium perferendis sit quam sunt! Debitis blanditiis, et
                          obcaecati itaque veniam repellat nemo nisi repudiandae vel doloribus cum dolores ratione.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>