<main
  class="relative pr-2 md:pr-0 w-full h-full flex flex-col grow lg:gap-0 justify-center items-center pb-6 lg:pb-0">
  <p class="w-full text-5xl font-bold text-stoke-red text-center pt-12 md:pt-0">JoinUs</p>
  <div
    class="relative p-6 w-full h-full gird grid-cols-1 md:flex gap-12 items-center justify-center space-y-6 md:space-y-0">
    <a routerLink="/auth/signin"
      class="w-full max-h-fit h-[30rem] max-w-96 border-[#f64363] bg-[#f643634d] p-8 border-4 rounded-lg flex flex-col gap-4">
      <img class="w-full h-full object-cover" src="../../../../assets/images/natsu.svg" alt="" />
      <p class="w-full text-5xl font-bold text-stoke-red text-center">
        SignIn
      </p>
    </a>

    <a routerLink="/auth/signup"
      class="w-full max-h-fit h-[30rem] max-w-96 border-[#436af6] bg-[#436af64d] p-8 border-4 rounded-lg flex flex-col gap-4">
      <img class="w-full h-full object-cover" src="../../../../assets/images/rem.svg" alt="" />
      <p class="w-full text-5xl font-bold text-stoke-blue text-center">
        SignUp
      </p>
    </a>
  </div>
</main>
