<div class="w-full h-full bg-[#12182caa] overflow-x-hidden overflow-y-auto flex flex-col justify-start items-center">
  <div class="relative w-full h-80 flex items-center justify-around gap-20 p-6 bg-transparent">
    <div class="w-full h-full bg-[#292F46aa] rounded-xl flex items-center justify-center gap-4 overflow-hidden">
      <!-- icon -->
      <fa-icon [icon]="faUser" class="text-9xl text-white" />
      <!-- text number, detail -->
      <div class="h-full flex flex-col items-start justify-center">
        <span class="text-5xl text-white">{{imageCount}}</span>
        <span class="text-xl text-white">Members</span>
      </div>
    </div>
    <div class="w-full h-full bg-[#292F46aa] rounded-xl flex items-center justify-center gap-4 overflow-hidden">
      <!-- icon -->
      <fa-icon [icon]="faImage" class="text-9xl text-white" />
      <!-- text number, detail -->
      <div class="h-full flex flex-col items-start justify-center">
        <span class="text-5xl text-white">{{userCount}}</span>
        <span class="text-xl text-white">Images</span>
      </div>
    </div>
    <!-- <div class="w-full h-full bg-[#292F46aa] rounded-xl flex items-center justify-center gap-4 overflow-hidden">
      <fa-icon [icon]="faFileContract" class="text-9xl text-white" />
      <div class="h-full flex flex-col items-start justify-center">
        <span class="text-5xl text-white">10M</span>
        <span class="text-xl text-white">Reports</span>
      </div>
    </div> -->
  </div>
  <div class="w-full h-full">

  </div>
</div>
